extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="img sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}

                blackquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at varius lorem, posuere volutpat odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus aliquet velit mauris, nec feugiat dolor convallis et. Pellentesque efficitur quis quam vel ornare. Praesent non consequat dui. Nullam bibendum blandit nibh id bibendum. Fusce viverra risus vel elit ornare, sit amet venenatis quam vestibulum. Etiam id est nec mauris congue vulputate. Nam eu magna vel leo pharetra euismod. Fusce eu tortor tempor, fringilla purus quis, placerat elit.

                p t vulputate ultrices commodo. Morbi eu hendrerit ipsum. Aliquam at vestibulum tortor. Duis congue pulvinar consequat. Nunc ullamcorper quam tellus, id convallis nibh mattis nec. Fusce volutpat ex quis feugiat posuere. In sit amet dapibus nibh. Cras venenatis iaculis urna, quis facilisis risus placerat non. Aenean quis est ut nulla posuere molestie ut a lorem. Sed ut pretium nibh, nec blandit arcu. Quisque maximus sodales justo a accumsan. 
            

                p Maecenas pulvinar augue libero, id aliquet turpis facilisis id. Nulla vel nisl imperdiet, facilisis nisi ut, rutrum lorem. Donec euismod feugiat sagittis. Sed efficitur efficitur tristique. Nullam faucibus, sem ac maximus efficitur, odio magna volutpat erat, non pulvinar metus quam sit amet est. Nulla facilisi. Maecenas nec orci vel elit sagittis tristique. Vivamus scelerisque tempor risus vitae consequat. Integer ut dignissim lacus, consectetur volutpat augue. Aenean egestas laoreet augue.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad",  class="img-fluid mb-4")
                    h2.bm-4 Seguridad
                    p Maecenas pulvinar augue libero, id aliquet turpis facilisis id. Nulla vel nisl imperdiet, facilisis nisi ut, rutrum lorem.Maecenas pulvinar augue libero, id aliquet turpis facilisis id. Nulla vel nisl imperdiet, facilisis nisi ut, rutrum lorem.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos",  class="img-fluid mb-4")
                    h2.bm-4 Mejores Destinos
                    p Maecenas pulvinar augue libero, id aliquet turpis facilisis id. Nulla vel nisl imperdiet, facilisis nisi ut, rutrum lorem.Maecenas pulvinar augue libero, id aliquet turpis facilisis id. Nulla vel nisl imperdiet, facilisis nisi ut, rutrum lorem.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios",  class="img-fluid mb-4")
                    h2.bm-4 Los Mejores Precios
                    p Maecenas pulvinar augue libero, id aliquet turpis facilisis id. Nulla vel nisl imperdiet, facilisis nisi ut, rutrum lorem.Maecenas pulvinar augue libero, id aliquet turpis facilisis id. Nulla vel nisl imperdiet, facilisis nisi ut, rutrum lorem.

